<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <a href="/randomCards">Random</a>
    </div>
    <% for(var i = 0; i<arrImgs.length;i++){ %>
        <div style="width: 50px;height: 150px;float: left;">
            <img src="./cards/<%- arrImgs[i]%>">
        </div>
        <% } %>

</body>

</html>