<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./layout.css">
</head>

<body>
    <div id="wrapper">
        <div id="banner"></div>
        <div id="menu">
            <a href="./">Home</a>
            <a href="./register">Register</a>
            <a href="./products">Products</a>
        </div>
        <div id="main">
            <%- include("pages/" + page) %>
        </div>
    </div>
</body>

</html>